
# TODO su notice replacer i caratteri dopo il token sono da mettere a prefisso del testo, serve dove non ci sono multiline commenst

# https://editorconfig.org/

# top-most EditorConfig file
root = true

[*.{h,c,hpp,cpp}]
indent_size = 4