################################################################
#             Default Github's Cmake gitignore
################################################################

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

################################################################
#                         Additionals
################################################################

################################
#        Visual Studio
################################

# VS' stuff folder
.vs/

# default VS output folder
out/

################################
#            GIT
################################

# (only for notice replacer)
.git/


################################################################
#                     Authomatically added
################################################################